body {
    background-color: rgb(131, 131, 131);
    display:flex;
}
#page {
    margin: auto;
    background-color: rgb(255, 255, 255);
    width:60%;
    height: 100%;
    justify-content: center;
}
#header {
    width:100%;
    height: 90px;
    background-color: rgb(49, 49, 49);
    display:flex
}
.anchor {
    width: 20%;
    justify-content: space-between;
    background-color: snow;
}
#main {
    margin:auto;
    width: 95%;
}
h1 {
    text-align: center;
}