body {
    background-image: url(../Images/Bild1.jpg);     /*placeholder bild*/
    display:flex;
}
#page {
    margin: auto;
    background-color: white;
    width:60%;
    height: 100%;
    justify-content: center;
}
#header {
    width:100%;
    height: 12vh;
    background-color: rgb(49, 49, 49);
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    width: 6vw;
    height:50%;
    background-color:white;
    border: black 2px solid;
    border-radius: 10px;
    text-align: center;
}

.btn:hover{background-color:rgb(200,200,200)};

#main {
    margin:auto;
    width: 95%;

}

h1 {
    text-align: center;
}

#img1{
    height:40vh;
    width: 40%;
}